.confirmation {
  margin: 0;
  padding: 0;
}

.confirmation-container {
  background: #fff;
  border: 1px solid #ddd;
  padding: 20px;
}

.presta-profile {
  display: grid;
  justify-content: center;
  margin: 5rem 1rem;
  margin-bottom: 0;
}

.infos {
  margin: 2rem 0;
  margin-top: 0;
  text-align: center;
}

.profile-picture {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.presta-profile p {
  color: #d32f2f;
}

.note {
  background-color: #f3dbdd;
  text-align: center;
  padding: 0.1rem;
}

.note h2 {
  color: #f00;
  font-weight: lighter;
}

.appointment {
  margin: 3rem 0;
}

.appointment h1 {
  color: #d32f2f;
  text-decoration: underline;
  text-transform: uppercase;
}

.appointment-details {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.textarea-container {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  color: #d32f2f;
  font-size: 1.5rem;
  font-weight: bold;
}

.custom-textarea {
  width: 98.5%;
  min-height: 150px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 4px;
  resize: vertical;
  transition: border-color 0.3s;
}

.custom-textarea:focus {
  border-color: #d32f2f;
  outline: none;
}

.btn-demande {
  background-color: #d32f2f;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  width: 80%;
  margin: 3rem 8rem;
  color: white;
  font-size: 1.3rem;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: bold;
}

/* Responsive */

@media (max-width: 768px) {
  .presta-profile {
    display: flex;
    gap: 1rem;
  }

  .profile-picture {
    width: 200px;
    height: 200px;
  }

  .infos {
    margin: 4rem 0;
  }

  .note {
    padding: 0;
  }

  .note h2 {
    color: #f00;
    font-weight: lighter;
    font-size: 1rem;
  }

  .appointment h1 {
    font-size: 1.2rem;
    text-align: center;
  }

  .appointment-details {
    padding: 0.2rem;
  }

  .btn-demande {
    margin: 3rem 3rem;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .presta-profile h2 {
    font-size: 1rem;
  }

  .note {
    padding: 0.2rem;
  }

  .note h2 {
    font-size: 0.8rem;
  }

  .appointment-details {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
