.confirmation-page {
  margin: 4rem 0 0 0;
  padding: 0;
}

.confirmation-container {
  /* background: var(--secondary-text-color); */
  /* border: 1px solid var(--bg-color); */
  padding: 1rem;
}

.presta-profile {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 1rem;
  margin-bottom: 0;
}

.presta-profile h1 {
  margin-top: 6.5rem;
}

.infos {
  margin: 2rem 0;
  margin-top: 0;
  text-align: center;
}

.confirmation-profile-picture {
  width: 15%;
  height: 15%;
  border-radius: 50%;
  object-fit: cover;
}

.presta-profile p {
  color: var(--main-color);
}

.note {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 0.1rem;
}

.note h2 {
  color: var(--main-color);
  font-weight: lighter;
  font-size: 1.25rem;
}

.appointment {
  margin: 3rem 0;
}

.appointment h1 {
  color: var(--main-color);
  text-decoration: underline;
  text-transform: uppercase;
}

.appointment-details {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.textarea-container {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.custom-textarea {
  width: 98.5%;
  min-height: 150px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid var(--primary-text-color);
  border-radius: 4px;
  resize: vertical;
  transition: border-color 0.3s;
}

.custom-textarea:focus {
  border-color: var(--main-color);
  outline: none;
}

.confirmation-container button {
  justify-content: center;
  width: 80%;
  margin: 1rem 5rem;
  font-weight: bold;
}

/* .btn-demande {
  background-color: var(--main-color);
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  width: 80%;
  margin: 3rem 8rem;
  color: var(--secondary-text-color);
  font-size: 1.3rem;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: bold;
} */

/* Responsive */

@media (max-width: 768px) {
  .presta-profile {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .confirmation-profile-picture {
    width: 35%;
    height: auto;
  }

  .infos {
    margin: 2rem 0;
    text-align: center;
  }

  .note {
    padding: 0.5rem;
  }

  .note h2 {
    font-size: 1rem;
  }

  .appointment h1 {
    font-size: 1.2rem;
    text-align: center;
  }

  .appointment-details {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
  }

  .confirmation-container button {
    width: 90%;
    margin: 1rem auto;
    font-size: 1rem;
  }

  .custom-textarea {
    width: 95%;
  }
}

@media (max-width: 480px) {
  .presta-profile {
    flex-direction: column;
    gap: 1rem;
  }

  .confirmation-profile-picture {
    /* width: 50%; */
    height: auto;
    border-radius: 50%;
  }

  .presta-profile h1 {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
  }

  .note {
    padding: 0.2rem;
  }

  .note h2 {
    font-size: 0.85rem;
  }

  .appointment h1 {
    font-size: 1rem;
  }

  .appointment-details {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
  }

  .confirmation-container button {
    width: 100%;
    margin: 0.5rem auto;
  }

  .custom-textarea {
    width: 95%;
    font-size: 0.9rem;
  }

  .infos {
    margin: 1.5rem 0;
  }
}
