.profile-page {
  line-height: 1.5;
  padding: 20px;
  /* max-width: 1200px; */
  margin: 5rem 0 0 0;
  /* margin-top: 3rem; */
}

/* Section Détails du Prestataire */
.provider-details,
.provider-description,
.review,
.realisation-section {
  background: var(--bg-color);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 1rem;
  border: 1px solid var(--main-color);
  box-shadow: 0 2px 10px var(--secondary-color);
}

.provider-details {
  /* max-width: 50rem; */
}

.details {
  display: flex;
}

.provider-image {
  width: 30% !important;
  /* height: 50%; */
  object-fit: cover;
  border-radius: 20%;
}

.provider-info {
  flex: 1;
  align-content: center;
  text-align: center;
}

.provider-info h1 {
  font-size: 3rem;
  margin: 0;
}

.provider-info p {
  margin: 5px 0;
}

.provider-info a {
  color: var(--main-color);
  text-decoration: none;
}

.presta-provider-calendar {
  margin-top: 1rem;
  text-align: center;
}

/* .provider-calendar h2 {
  font-size: 18px;
  margin-bottom: 10px;
} */

.prestation-item,
.prestation-item ul,
.prestation-item li {
  list-style: none;
}

.prestation-item p {
  color: var(--main-color);
  text-transform: uppercase;
}

/* .provider-calendar .calendar {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
  text-align: center;
  background-color: #f9f9f9;
} */

/* .provider-calendar button {
  width: 20%;
} */

.tabs button:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
  border: 1px solid var(--secondary-color);
}

.provider-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background: var(--secondary-text-color);
  border: 1px solid var(--main-color);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 2px 10px var(--secondary-color);
}

.provider-description p {
  line-height: 1.6;
  color: var(--primary-text-color);
}
/* Section Description */
.provider-description h2,
.provider-reviews h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--main-color);
}

/* Section Réalisations */
.realisation-section {
  max-width: 50%;
  margin: 0 0 0 250px;
  text-align: center;
}

/* Grille des images */
.images-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.images-grid img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 8px;
}

/* Responsive  */
@media (max-width: 768px) {
  /* Provider Details */
  .provider-info h1 {
    font-size: 24px;
  }

  .provider-info p {
    font-size: 14px;
  }
  .prestation-item ul li {
    margin: 0;
  }

  /* .btn-secondary {
    width: 50%;
  } */

  /* Realisation Section */
  .realisation-section {
    max-width: 100%;
    margin: 0;
  }

  /* Images Grid */
  .images-grid,
  .videos-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  /* Provider Details */
  .profile {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 6rem 0;
    padding: 1rem;
  }
  .profile p {
    margin: 0.25rem;
  }
  .provider-info {
    /* margin: 2rem 0; */
    padding: 0.2rem;
  }

  .provider-info h1 {
    font-size: 1.5rem;
  }

  .provider-info p {
    font-size: 12px;
  }

  .provider-image {
    width: 30% !important;
    height: 10%;
  }

  .presta-provider-calendar h2 {
    font-size: 1rem;
  }

  button.crenaux.btn-secondary {
    margin: 1rem 5rem;
    /* width: 80%; */
  }

  /* Realisation Section */
  .realisation-section {
    margin: 0;
    padding: 15px;
  }

  .tabs button {
    font-size: 14px;
    padding: 10px;
  }
  .prestation-item ul li {
    margin: 0 !important;
  }
  .prestation-item button {
    width: auto;
    margin: 0 !important;
  }
}
