.compte-presta {
  margin: 4rem 0 0 0;
}

.info-presta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background: var(--secondary-text-color);
  border: 1px solid var(--main-color);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 2px 10px var(--secondary-color);
  margin: 2rem;
}

.info-presta img {
  width: 25%;
  height: auto;
  border-radius: 3.5rem;
  padding: 2rem;
  object-fit: cover;
  border: none;
}

.presta-names {
  margin: 2rem;
  flex: 1;
  min-width: 250px;
}

.presta-names h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--main-color);
  text-align: center;
}

.presta-names h2 {
  font-size: 1rem;
  color: black;
  text-transform: uppercase;
  margin: 1rem 0;
  text-align: center;
}

.presta-names p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  text-align: center;
}

.presta-names button {
  margin: 0;
  width: 100%;
}
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--third-text-color);
  font-size: 14px;
}

.form-edit {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
}

.form-edit input[type='text'],
.form-edit input[type='email'],
.form-edit input[type='file'],
.form-edit input[type='number'] {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--secondary-color);
  font-size: 1rem;
  width: 100%;
}

.form-edit img {
  display: block;
  width: 50px;
  margin-top: 10px;
  border-radius: 30px;
}

.form-edit button {
  margin-top: 0.5rem;
}

.presta-description {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  align-items: flex-start;
  background: var(--secondary-text-color);
  border: 1px solid var(--main-color);
  padding: 2rem;
  border-radius: 1rem;
  margin: 2rem;
  box-shadow: 0 2px 10px var(--secondary-color);
}

.presta-description p {
  line-height: 1.6;
  color: var(--primary-text-color);
  text-align: center;
}

.realisations-container {
  margin: 2rem;
  background: var(--secondary-text-color);
  border: 1px solid var(--main-color);
  padding: 2rem;
  border-radius: 1rem;
}
.res .add-realisation {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.images-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
}

.image-wrapper img.realisation-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* =========================
   SECTION AVIS CLIENTS
========================= */

.provider-reviews {
  /* width: 90%; */
  max-width: 1200px;
  margin: 0 auto;
}

.provider-reviews h5 {
  margin-bottom: 40px;
}

/* =========================
   CARTE AVIS
========================= */

.provider-reviews .review {
  padding: 30px 40px;
  margin-bottom: 40px;
  position: relative;

  background: var(--bg-color);
  border: 1px solid var(--main-color);
  border-radius: 1rem;
  box-shadow: 0 2px 10px var(--secondary-color);
  width: 70%;
  margin: 1rem 10rem;
}

/* avis masqué */
.review-hidden {
  opacity: 0.5;
  filter: grayscale(100%);
}

/* =========================
   HEADER AVIS
========================= */

.review-info {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 20px;
}

.client-image {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
}

.review-info h3 {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

/* =========================
   DATE
========================= */

.review span {
  position: absolute;
  top: 25px;
  right: 40px;
  font-size: 14px;
  color: #555;
}

/* =========================
   TEXTE AVIS
========================= */

.review p {
  font-size: 16px;
  line-height: 1.8;
  color: #111;
  margin: 15px 0;
  max-width: 95%;
}

/* NOTE */
.note {
  font-weight: bold;
  margin-bottom: 10px;
}

/* =========================
   BOUTON ACTION
========================= */

.review button {
  position: absolute;
  bottom: 1rem;
  right: 40px;
  transition: background 0.3s ease;
  margin: 0;
  width: auto;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .info-presta {
    flex-direction: column;
    align-items: center;
  }

  .info-presta img {
    width: 50%;
    padding: 1rem;
  }

  .presta-names {
    margin: 1rem;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .info-presta {
    flex-direction: row;
  }
  .info-presta img {
    width: 30%;
  }

  .presta-names h1 {
    font-size: 2rem;
  }

  .presta-names h2 {
    font-size: 1.2rem;
  }
  .presta-names button {
    margin: 0;
    width: 100%;
  }
  .form-edit {
    max-width: 100%;
    padding: 0.5rem;
  }

  .form-edit input {
    font-size: 0.95rem;
  }

  .form-edit button {
    width: 100%;
    font-size: 0.95rem;
  }

  .images-grid {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
  .provider-reviews {
    margin: 2rem;
  }

  .provider-reviews .review {
    padding: 25px;
  }

  .review-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .client-image {
    width: 90px;
    height: 90px;
  }

  .review span {
    position: static;
    display: block;
    margin-bottom: 10px;
  }

  .review button {
    position: static;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .info-presta img {
    width: 35%;
    padding: 0.5rem;
  }

  .presta-description {
    margin: 2rem;
  }

  .presta-names h1 {
    font-size: 1.8rem;
  }

  .presta-names h2 {
    font-size: 1rem;
  }
  .presta-names button {
    margin: 0;
    width: 100%;
  }
  .form-edit {
    width: 70%;
  }
  .form-edit input {
    font-size: 0.9rem;
  }

  .form-edit button {
    font-size: 0.95rem;
    width: 100%;
    margin: auto;
  }

  .images-grid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
  }
}
