.dashboard-container {
  display: flex;
  height: 100vh;
  background-color: var(--bg-color);
  margin: 6rem 0 0 0;
}

.admin-provider-image,
.admin-prestation-image {
  width: 15% !important;
  height: 10% !important;
  object-fit: cover !important;
  border-radius: none !important;
}

.sidebar {
  width: 250px;
  background-color: var(--main-color);
  color: var(--secondary-text-color);
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.menu-list {
  list-style: none;
  padding: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.menu-item:hover,
.menu-item.active {
  background-color: var(--main-color);
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.data-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.data-card {
  background: var(--secondary-text-color);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--third-text-color);
}

.data-actions {
  display: flex;
  gap: 10px;
}

.edit-button,
.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 5px;
}

.edit-button {
  background-color: var(--secondary-color);
  color: var(--main-color);
}

.delete-button {
  background-color: var(--main-color);
  color: var(--secondary-text-color);
}

.edit-button:hover {
  border: 1px solid var(--main-color);
  background-color: var(--secondary-text-color);
}

.delete-button:hover {
  background-color: var(--main-color);
}

.loading-message,
.no-data {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  color: var(--third-text-color);
}

/* --- Responsive --- */
@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }

  .menu-list {
    display: flex;
  }
  .sidebar {
    width: auto;
    text-align: center;
    padding: 10px;
  }

  .menu-item {
    justify-content: center;
  }

  .main-content {
    padding: 10px;
  }

  .data-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .data-actions {
    width: 100%;
    justify-content: flex-end;
  }
}

@media (max-width: 480px) {
  .dashboard-container {
    flex-direction: row;
    margin: 4rem 0;
  }

  .sidebar {
    text-align: center;
    width: auto;
    padding: 0;
  }

  .menu-list {
    display: grid;
  }

  .menu-item {
    justify-content: center;
  }

  .main-content {
    padding: 10px;
  }

  .data-card {
    align-items: flex-start;
    flex-direction: column;
    width: auto;
    overflow: auto;
  }

  .data-actions {
    justify-content: center;
    width: 100%;
    padding: 1rem;
  }

  button.dashboard.btn-primary {
    width: 90%;
    margin: 0.5rem;
  }
  .admin-prestation-image {
    height: 20%;
    width: 30%;
    object-fit: cover;
    border-radius: 50%;
  }
}
