/* Conteneur principal */
.details-page {
  max-width: 800px;
  margin: 6rem 0 0 0;

  padding: 1rem;
}

/* Titre */
.details-page h1 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: var(--main-color);
  text-align: center;
}

/* Carte des détails */
.admin-details-card {
  border: 1px solid var(--main-color);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  padding: 1.5rem;
  overflow: auto;
}

/* Chaque champ */
.details-field {
  margin-bottom: 1rem;
}

/* Clé du champ */
.details-field strong {
  color: var(--main-color);
}

/* Valeur d'objet imbriqué */
.details-object {
  margin-left: 1rem;
  padding-left: 0.5rem;
  border-left: 2px solid #eee;
}

/* Liste imbriquée */
.details-object ul {
  list-style-type: disc;
  margin: 1rem 0 0 3rem;
  padding: 0;
}

/* Boutons */
.details-buttons {
  margin-top: 2rem;
  /* display: flex; */
  justify-content: center;
  gap: 1rem;
}

.details-buttons button {
  margin: 1rem 5rem;
  width: 60%;
}
.details-page p {
  text-align: center;
  font-size: 1rem;
}

@media (max-width: 480px) {
  .details-buttons button {
    margin: 1rem 5rem;
    width: 60%;
  }
}

@media (max-width: 768px) {
  .details-buttons button {
    margin: 1rem 5rem;
    width: 60%;
  }
}
