.admineditpage {
  margin: 6rem 0 0 0;
}

.admineditpage h1 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: var(--main-color);
  text-align: center;
}
.form-card {
  background: var(--secondary-color) !important;
  color: var(--main-color) !important;
  display: flex;
  align-items: center;
  border-radius: 0 2rem 2rem 0;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}
