.choix-left-panel,
.choix-right-panel {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.choix-left-panel {
  background-color: #fff;
  padding: 2rem;
  /* margin-bottom: 1rem; */
}

.choix-right-panel {
  width: 50%;
  background: #f3dbdd !important;
  color: #ba3e40 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.choix-right-panel h2 {
  font-size: 1.5rem;
  /* margin: 1rem; */
  text-transform: uppercase;
  color: #ba3e40;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

.choix-right-panel p {
  font-size: 1rem;
  line-height: 1.6;
  margin: 1rem;
  text-align: center !important;
}

.choix-boutons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.choix-btn {
  border: none;
  border-radius: 30px;
  padding: 15px;
  font-size: 16px;
  width: 15rem;
  transition: 0.3s ease;
}

.choix-btn.client {
  background-color: #ba3e40;
  color: #f3dbdd;
}

.choix-btn.prestataire {
  background-color: #f3dbdd;
  color: #ba3e40;
}

.choix-btn:hover {
  opacity: 0.8;
}
