body,
html {
  font-family: 'Roboto Serif', serif;
}

.login-page {
  margin: 6rem 0 0 0;
  display: flex;
  height: auto;
  border-radius: 2rem;
  border: 1px solid #ba3e40;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.login-left-panel,
.login-right-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-left-panel {
  background-color: #fff;
  padding: 2rem;
  /* margin-bottom: 1rem; */
}

.login-left-panel .login-input-container {
  width: 100%;
  margin: 1rem;
}

.welcome-text h1 {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #ba3e40;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.welcome-text img {
  border-radius: 50%;
  width: 15%;
}

.text-muted {
  color: #999;
  font-size: 0.9rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.text-muted:hover {
  color: #ba3e40;
}

.login-input-container {
  padding: 1rem;
  height: auto;
}

.login-btn {
  border: none;
  border-radius: 3rem;
  padding: 1rem 4rem;
  margin: 2rem;
  font-size: 1.1rem;
  background: #ba3e40;
  color: #fff;
  /* width: 15rem; */
  cursor: pointer;
}

.login-btn:hover {
  background: #f3dbdd;
  color: #ba3e40;
  border: 2px solid #ba3e40;
}

.gotoregister {
  background-color: #f3dbdd;
  color: #ba3e40;
  border: 1px solid #ba3e40;
  border-radius: 3rem;
  padding: 1rem 4rem;
  margin: 2rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.login-right-panel {
  width: 50%;
  background: #f3dbdd !important;
  color: #ba3e40 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.login-right-panel h2 {
  font-size: 1.5rem;
  /* margin: 1rem; */
  text-transform: uppercase;
  color: #ba3e40;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

.login-right-panel p {
  font-size: 1rem;
  line-height: 1.6;
  margin: 1rem;
  text-align: center !important;
}

/* RESPONSIVE PAT */

@media (max-width: 768px) {
  .welcome-text h1 {
    font-size: 1rem;
  }

  .login-right-panel h2 {
    font-size: 1.5rem;
    margin: 0.5rem;
  }

  .login-right-panel p {
    font-size: 1rem;
    margin: 0.4rem;
  }
}

@media (max-width: 480px) {
  .welcome-text h1 {
    font-size: 2rem;
  }
}
