body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Serif', serif;
}

.login-page {
  margin: 4rem 0 0 0;
  display: flex;
  height: 93vh;
  border-radius: 2rem;
  border: 1px solid #ba3e40;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.login-left-panel,
.login-right-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.login-left-panel {
  background-color: #fff;
}

.welcome-text h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #ba3e40;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.text-muted {
  color: #999;
  font-size: 0.9rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.text-muted:hover {
  color: #ba3e40;
}

.login-left-panel .login-input-container {
  width: 100%;
  margin: 1rem;
}

.login-left-panel {
  margin-bottom: 1rem;
  height: auto;
  width: 120px;
}

.login-input-container {
  padding: 1rem;
  margin: 1rem;
  height: auto;
}

.login-btn {
  border: none;
  border-radius: 3rem;
  padding: 1.5rem;
  font-size: 1-rem;
  background: #ba3e40;
  color: #fff;
  /* width: 15rem; */
  cursor: pointer;
}

.login-btn:hover {
  background: #f3dbdd;
  color: #ba3e40;
  border: 2px solid #ba3e40;
}

.gotoregidter {
  background-color: #f3dbdd;
  color: #ba3e40;
  border: 1px solid #ba3e40;
  /* width: 146px; */
  /* height: 46px; */
  padding: 1rem;
  border-radius: 3rem;
  font-size: 1.5rem;
  margin: 1rem;
  cursor: pointer;
}

.login-right-panel {
  width: 50%;
  background: #f3dbdd !important;
  color: #ba3e40 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login-right-panel h2 {
  font-size: 2rem;
  margin: 1rem;
  text-transform: uppercase;
}

.login-right-panel p {
  font-size: 1.6rem;
  line-height: 1.6;
  margin: 2rem;
  text-align: center !important;
}

/* RESPONSIVE PAT */

@media (max-width: 768px) {
  .welcome-text h1 {
    font-size: 2rem;
  }

  .login-right-panel h2 {
    font-size: 1.5rem;
    margin: 0.5rem;
  }

  .login-right-panel p {
    font-size: 1.5rem;
    margin: 0.5rem;
  }
}

@media (max-width: 480px) {
  .welcome-text h1 {
    font-size: 2rem;
  }
}
